## Example 1

In [ ]:
data = [1,2,3,4,5,6]

In [ ]:
res = []
for i in range(len(data)):
    res.append(data[i]*2)

In [ ]:
res

[2, 4, 6, 8, 10, 12]

In [ ]:
res = []
for n in data:
    res.append(n * 2)
res

[2, 4, 6, 8, 10, 12]

In [ ]:
res2 = [ n*2 for n in data]
res2

[2, 4, 6, 8, 10, 12]

常用的函数式编程函数：map，filter，reduce  
**map**

In [ ]:
def doubled(n):
    return n * 2

res3 = map(doubled,data)
res3 = list(res3)
res3

[2, 4, 6, 8, 10, 12]

## Example2

In [ ]:
data = [
    {"city":"Beijing", "temp":20.8},
    {"city":"Changsha", "temp":22.4},
    {"city":"Chongqing", "temp":22.8},
    {"city":"Guangzhou", "temp":20.8},
    {"city":"Shanghai", "temp":25.1},
    {"city":"HongKong", "temp":25.9}
]

In [ ]:
res1 = []

for item in data:
    new_item = item.copy()
    new_item["temp"] = item["temp"] * 9.0 / 5.0 + 32.0
    res1.append(new_item)
    
res1

[{'city': 'Beijing', 'temp': 69.44},
 {'city': 'Changsha', 'temp': 72.32},
 {'city': 'Chongqing', 'temp': 73.04},
 {'city': 'Guangzhou', 'temp': 69.44},
 {'city': 'Shanghai', 'temp': 77.18},
 {'city': 'HongKong', 'temp': 78.62}]

In [ ]:
# 丢失城市信息
res2 = [ item["temp"] * 9.0 / 5.0 + 32.0 for item in data ]
res2

[69.44, 72.32, 73.04, 69.44, 77.18, 78.62]

In [ ]:
def c_to_f(item):
    item["temp"] = item["temp"] * 9.0 / 5.0 + 32.0
    return item

res2 = [c_to_f(item) for item in data]
res2

[{'city': 'Beijing', 'temp': 69.44},
 {'city': 'Changsha', 'temp': 72.32},
 {'city': 'Chongqing', 'temp': 73.04},
 {'city': 'Guangzhou', 'temp': 69.44},
 {'city': 'Shanghai', 'temp': 77.18},
 {'city': 'HongKong', 'temp': 78.62}]

In [ ]:
# 随着运行次数增加 数据在增大
def c_to_f(item):
    item["temp"] = item["temp"] * 9.0 / 5.0 + 32.0
    return item

res2 = [c_to_f(item) for item in data]
res2

[{'city': 'Beijing', 'temp': 598.2540799999999},
 {'city': 'Changsha', 'temp': 615.0502399999999},
 {'city': 'Chongqing', 'temp': 619.24928},
 {'city': 'Guangzhou', 'temp': 598.2540799999999},
 {'city': 'Shanghai', 'temp': 643.3937600000002},
 {'city': 'HongKong', 'temp': 651.7918400000001}]

In [ ]:
def c_to_f(item):
    new_item = item.copy()
    new_item["temp"] = item["temp"] * 9.0 / 5.0 + 32.0
    return new_item

res2 = [c_to_f(item) for item in data]
res2

[{'city': 'Beijing', 'temp': 69.44},
 {'city': 'Changsha', 'temp': 72.32},
 {'city': 'Chongqing', 'temp': 73.04},
 {'city': 'Guangzhou', 'temp': 69.44},
 {'city': 'Shanghai', 'temp': 77.18},
 {'city': 'HongKong', 'temp': 78.62}]

In [ ]:
# 函数式编程
res3 = map(c_to_f, data)
res3 = list(res3)
res3

[{'city': 'Beijing', 'temp': 69.44},
 {'city': 'Changsha', 'temp': 72.32},
 {'city': 'Chongqing', 'temp': 73.04},
 {'city': 'Guangzhou', 'temp': 69.44},
 {'city': 'Shanghai', 'temp': 77.18},
 {'city': 'HongKong', 'temp': 78.62}]

## Example 3

In [2]:
data = [(1,5),(3,9),(2,4),(6,18)]

In [3]:
# 求最大公约数
def gcd(a,b):
    r = a % b
    while r != 0:
        a = b
        b = r
        r = a % b
    return b
gcd(3,9)

3

In [4]:
res1 = []
for pair in data:
    n1,n2 = pair[0],pair[1]
    m = gcd(n1,n2)
    res1.append((int(n1/m),int(n2/m)))
    
res1

[(1, 5), (1, 3), (1, 2), (1, 3)]

In [5]:
def simplify(pair):
    n1, n2 = pair[0],pair[1]
    m = gcd(n1,n2)
    return (int(n1/m),int(n2/m))

res2 = [simplify(pair) for pair in data]
res2

[(1, 5), (1, 3), (1, 2), (1, 3)]

In [6]:
# 函数式编程
res3 = map(simplify,data)
res3 = list(res3)

res3

[(1, 5), (1, 3), (1, 2), (1, 3)]

### 计算时间

In [7]:
%%time
res1 = []
for pair in data:
    n1,n2 = pair[0],pair[1]
    m = gcd(n1,n2)
    res1.append((int(n1/m),int(n2/m)))

CPU times: user 9 µs, sys: 2 µs, total: 11 µs
Wall time: 12.9 µs

In [8]:
%%time
res2 = [simplify(pair) for pair in data]

CPU times: user 7 µs, sys: 2 µs, total: 9 µs
Wall time: 12.2 µs

In [9]:
%%time
res3 = map(simplify,data)
res3 = list(res3)

CPU times: user 8 µs, sys: 2 µs, total: 10 µs
Wall time: 13.4 µs

### 大量数据

In [26]:
import random
data = [(random.randint(1,1000),random.randint(1,1000)) for _ in range(1000000)]

### 再次计算时间

In [27]:
%%time
res1 = []
for pair in data:
    n1,n2 = pair[0],pair[1]
    m = gcd(n1,n2)
    res1.append((int(n1/m),int(n2/m)))

CPU times: user 1.12 s, sys: 113 ms, total: 1.23 s
Wall time: 1.23 s

In [28]:
%%time
res2 = [simplify(pair) for pair in data]

CPU times: user 904 ms, sys: 114 ms, total: 1.02 s
Wall time: 1.02 s

In [29]:
%%time
res3 = map(simplify,data)
res3 = list(res3)

CPU times: user 888 ms, sys: 117 ms, total: 1.01 s
Wall time: 1 s

### 多进程

In [30]:
from multiprocessing import Pool

In [43]:
p = Pool(2)

In [44]:
%%time
res4 = p.map(simplify, data)

CPU times: user 677 ms, sys: 212 ms, total: 889 ms
Wall time: 1.89 s